.MetricsBoxContent {
  position: relative;
  width: 50%;
  height: 43%;
  float: left;
}
.MetricsBoxContent .Arrow {
  position: absolute;
  width: 47px;
  height: 46px;
  background-image: url('../../img/arrow.png');
  background-repeat: no-repeat;
  margin-left: 17px;
  margin-top: 8px;
}
.MetricsBoxContent .Arrow .ArrowText {
  display: block;
  width: 100%;
  padding-top: 16px;
  font-weight: bold;
  text-align: center;
}
.MetricsBoxContent .GreenArrow {
  background-position: 2px 0px;
  color: white;
}
.MetricsBoxContent .RedArrow {
  background-position: -45px -2px;
  color: white;
}
.MetricsBoxContent .YellowArrow {
  background-position: -97px 0px;
  color: black;
}
.MetricsBoxContent .BelowArrowText {
  position: absolute;
  color: black;
  font-size: 12px;
  display: block;
  width: 100%;
  text-align: center;
  bottom: 5px;
}
