.UnitTestFunctionalBoxContent {
  position: relative;
  width: 50%;
  height: 65%;
  float: left;
}
.UnitTestFunctionalBoxContent .Chart {
  position: absolute;
  top: 15px;
  left: 5px;
}
.UnitTestFunctionalBoxContent .Percentage {
  display: block;
  position: absolute;
  font-size: 36px;
  color: #a6e270;
  width: 100%;
  text-align: center;
  top: 35px;
}
.UnitTestFunctionalBoxContent .PercentageText {
  display: block;
  position: absolute;
  font-size: 10px;
  color: black;
  width: 100%;
  text-align: center;
  top: 74px;
}
.UnitTestFunctionalBoxBar {
  position: relative;
  width: 100%;
  height: 20%;
  float: left;
}
