#logs {
  position: fixed;
  width: 200px;
  height: 600px;
  right: 0px;
  top: 50px;
  background-color: yellow;
  color: white;
  background-color: #919191;
  border-radius: 10px 0px 0px 10px;
}
#logs #logHeader {
  background-color: #515151;
  border-radius: 10px 0px 0px 0px;
  color: white;
  font-weight: bold;
  font-size: 15px;
  height: 40px;
  width: 100%;
  top: 0px;
}
#logs #logHeader .text {
  position: absolute;
  margin: 10px 0px 0px 10px;
}
#logs #logContent {
  height: 560px;
  overflow-y: scroll;
}
#logs #logContent .log {
  margin: 5px 0px 5px 5px;
  font-size: 12px;
}
#logs #logContent .log .time {
  color: #00ff00;
  font-weight: bold;
}
#logs #logContent .yellow {
  color: #ffff00;
}
#logs #logContent .orange {
  color: #ffc266;
}
