/**********************************
	Mixins
**********************************/
.Shadow {
  -webkit-box-shadow: 3px 3px 7px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 3px 3px 7px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 3px 3px 7px 0px rgba(50, 50, 50, 0.75);
}
